<!-- app/views/person_reports/show.html.erb -->
<div class="highlight-section">
  <input type="text" id="highlight-input" placeholder="Enter regex">
  <button id="highlight-button">Highlight</button>
</div>

<div class="report-content">
  <%= render @person %>
</div>
